@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Styles that effect everything */
body {
    margin: 0px;
    font-family: 'Quicksand';
    background-color: #7c7c7c;
    color: #ffffff;
    font-size: 30px;
}

#root {
    max-width: 100%;
}

#App {
    max-width: 100%;
}


/* Header Styling */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2833;
    max-width: 100%;
    align-items: center;
}

#title {
    font-family: 'Quicksand';
    color: #66fcf1;
    padding-left: 5%;
    font-size: 50px;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
}

.nav-item {
    list-style-type: none;
    padding: 3%;
    padding-left: 10%;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #66fcf1;
    font-size: xx-large;
}

/* About Me Styling */
.aboutContainer {
    width: 80%;
}

/* Portfolio Styling */
.container {
    display: flex;
    min-height: 60%;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.projectp {
    position: relative;
    font-size: xx-large;
    visibility: hidden;
    right: 60%;
    top: 70%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.Card {
    display: flex;
    width: 48%;
    padding-top: 3%;
}

img {
    width: 100%;
    object-fit: cover;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
}

/* Contact Page Styling */
.contactLabel{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
    padding: 1%;
}

.inputLabel {
    padding-right: 1%;
}

#name {
    width: 80%;
}

#email {
    width: 80%;
}

#message {
   width: 80%;
   height: 200px;
}

.button {
    width: 100%;
    font-size: 24px;
}


.Card:hover {
    .image {
        opacity: 0.6;
    }
    .projectp {
        filter: none;
        visibility: visible;
    }
}

@media only screen and (max-width: 1299px){
    .header{
        flex-direction: column;
        justify-content: center;
    }
    .navbar{
        flex-direction: column;
    }
    .projectp{
        font-size: large;
    }
    .contactLabel {
        flex-direction: column;
    }
    h2 {
        font-size: x-large;
    }
}