@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    margin: 0px;
    font-family: 'Quicksand';
    background-color: #7c7c7c;
    color: #ffffff;
}

#root {
    max-width: 100%;
}

#App {
    max-width: 100%;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2833;
    max-width: 100%;
    align-items: center;
}

#title {
    font-family: 'Quicksand';
    color: #66fcf1;
    padding-left: 5%;
    font-size: 50px;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
}

.nav-item {
    list-style-type: none;
    padding: 3%;
    padding-left: 10%;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #66fcf1;
    font-size: x-large;
}

.box {
    display: flex;
    min-height: 60%;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.projectp {
    position: relative;
    font-size: xx-large;
    visibility: hidden;
    right: 80%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.Card {
    display: flex;
    width: 48%;
    padding-top: 3%;
}

img {
    width: 100%;
    object-fit: cover;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
}

.Card:hover {
    .image {
        opacity: 0.6;
    }
    .projectp {
        filter: none;
        visibility: visible;
    }
}